.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  width: 80%;
  height: 100%;
}

h1 {
  margin-bottom: 30px;
}

.finder {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 300px;
  margin-right: 20px;
}

.search > * {
  margin-bottom: 30px;
}

.graphContainer {
  width: 80%;
  min-width: 880px;
  height: 100%;
  min-height: 600px;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.sliderLabel {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.sliderLimitLabel {
  font-size: 16px;
}

.valueDisplay {
  padding-bottom: 50px;
}

.alert {
  margin-bottom: 30px;
}