.results {
  border-width: 2px;
  border-style: solid;
  border-color: #3f51b5;
  border-radius: 4px;
}

.recipesEmptyStateContainer {
  fill: #3f51b51e;
}

.recipesEmptyStateText {
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 24px;
}

.recipeNode {
  stroke-width: 5px;
}

.legendRecipeNode {
  stroke-width: 4px;
  fill: white;
}

.links {
  stroke: #bdbdbd;
  stroke-width: 2px;
}

.recipeName {
  color: black;
}

.recipeOuterCircle {
  fill: black;
}

.legendText {
  dominant-baseline: central;
  font-size: 12px;
}

.legendLine {
  stroke: black;
  stroke-width: 0.5px;
}

.recipeDetails {
  display: flex;
  flex-direction: column; 
  background-color: white;
  border-color: #bdbdbd;
  border-width: 2px;
  border-style: solid;
}

.recipeDetailsSubs {
  stroke-width: 5px;
}

.recipeDetailsDifSubs {
  display: flex;
  flex-direction: row; 
  gap: 3px;
}

.recipeDetailsTitle {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
}

.recipeDetailsContent {
  padding: 10px;
  padding-bottom: 5px;
  color: black;
}

.recipeDetailsRow {
  display: flex;
  flex-direction: column; 
  gap: 3px;
}

.recipeDetailsRow > * {
  margin: 0px;
  font-size: 14px;
  padding-bottom: 10px;
}

.recipeDetailsDifSubs > * {
  margin: 0px;
  font-size: 14px;
}

.recipeDetailsRow > ul {
  padding-left: 20px;
}

.recipeDetailsTitle > p {
  margin: 0px;
  font-size: 18px;
}


.recipeDetailsLabel {
  font-weight: bold;
}